API_URL="https://kutbkcayynqmiaxjfzsv.supabase.co"
ANON_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1dGJrY2F5eW5xbWlheGpmenN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNDY5NzgsImV4cCI6MjA4OTcyMjk3OH0.93bIGmyYb6hX1CJVDy5vpDhs912zvfWsc5F6167X0XY"
service_role_key="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1dGJrY2F5eW5xbWlheGpmenN2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE0Njk3OCwiZXhwIjoyMDg5NzIyOTc4fQ.sn9UMw4ZUwXhY3fDJ4XT7_Or_KYzAVZlFxk9G8WydBg"